@model AddRoleViewModel
@{
    ViewData["Title"] = "Add Role";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>Roles</label>
                <select name="role" asp-items="Model.Roles" class="form-control">
                    <option>Please Select One</option>
                </select>
            </div>
            <a href="/admin/users/details/@Model.UserId" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-success">Add Role</button>
        </form>
    </div>
</div>