@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "All Cars";
}

<h2>@ViewData["Title"]</h2>
<div>
    <a href="/cars/create" class="btn btn-lg btn-info">Add Car</a>
    <a href="/cars/parts" class="btn btn-lg btn-primary">Cars With Parts</a>

    <hr />
</div>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Travelled Distance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    <a href="/cars/@car.Make">@car.Make</a>
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @(car.TravelledDistance / 100) KM
                </td>
            </tr>
        }
    </tbody>
</table>


