@model CarsByMakeModel

@{
    ViewData["Title"] = "{Model.Make} Cars";
}

<h3>All cars by @Model.Make</h3>
<hr />
<a href="/cars/all" class="btn btn-primary">Back</a>
<br />
<br />
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Travelled Distance
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var car in Model.Cars)
        {
            <tr>
                <td>
                    @car.Make
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @(car.TravelledDistance/100) KM
                </td>
            </tr>
        }
    </tbody>
</table>
