@model IEnumerable<SupplierListingModel>

@{
    ViewData["Title"] =  $"All Suppliers";
}

<h2>@ViewData["Title"]</h2>
<a href="/suppliers/create" class="btn btn-lg btn-info">New Supplier</a>
<hr />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Importer</th>
            <th>Total Parts</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.Name</td>
                <td>@(supplier.IsImporter ? "Yes" : "No")</td>
                <td>@supplier.TotalParts</td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a href="/suppliers/edit?id=@supplier.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a href="/suppliers/delete?id=@supplier.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table> 